.a{
  align-items: center;
  margin-left: 40%;
  margin-top: 10px;
  margin-right: 20%;
  background-color: aqua;
  color: rgb(97, 92, 87);
  text-align: center;
}
.b{
  align-items: center;
  margin-left: 40%;
  margin-top: 10px;
  margin-right: 20%;
  background-color: rgb(11, 37, 37);
  color: antiquewhite;
  text-align: center;
}
.c{
  align-items: center;
  margin-left: 40%;
  margin-top: 10px;
  margin-right: 20%;
  background-color: rgb(3, 83, 83);
  color: antiquewhite;
  text-align: center;
}
.d{
  align-items: center;
  margin-left: 40%;
  margin-top: 10px;
  margin-right: 20%;
  background-color: rgb(3, 83, 83);
  color: antiquewhite;
  text-align: center;
}
.e{
  align-items: center;
  margin-left: 40%;
  margin-top: 10px;
  margin-right: 20%;
  background-color: rgb(3, 83, 83);
  color: antiquewhite;
  text-align: center;
}